body{
    margin: 0px;
    padding: 0px 5px 0px 5px ;
    
}
header{
    padding: 10px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}
nav{
    line-height: 32px;
    padding-left: 20px;
    position: fixed;
    width: 200px;
    top:150px;
}

.header,.headeroptions,.location,.profile{
    display: inline;
}
.headeroptions{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.locimg{
    height: 30px;
}
.profimg{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    border: none;
}
.header2{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    right: 0;
    left: 0;
    top:74px
}
.profsearch{
    width: 15px;
    border: 1px white solid;
    padding: 5px;
    border-radius: 20px;
}
.profession{
    background-color: black;
    color:white;
    border: none;
    vertical-align: 10px;
}
.profdiv{
    display: inline;
    padding-right: 70px;
    padding-left: 0px;
    height: 30px;
    border-right:1px grey solid ;
    text-align: center;
}
.salrange{
    height: 11px;
}
.filtertitle{
    color:rgb(92, 91, 91);
}
.checkbox{
    accent-color: black;
    margin-right: 13px;
}